Django==4.1.6
django-cors-headers==3.13.0
django-model-utils==4.3.1
django-storages==1.13.1
django-uuidfield==0.5.0
djangorestframework==3.14.0
fastnumbers==3.2.1
graphene-django==3.0.0
graphene-file-upload==1.3.0
graphql-core==3.2.3
graphql-relay==3.2.0
pytz==2022.6
sqlparse==0.4.3
django-filter>=2
django-utils-six
